<div class="page-title bg-cover" style="background:url(assets/img/bn-1.jpg)no-repeat;" data-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12"></div>
        </div>
    </div>
</div>
<section class="gray-bg pt-4">
    <div class="container-fluid">
        <div class="row m-0">

            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12">
                <div class="dashboard-navbar overlio-top">



                    <div class="d-navigation">
                        <ul id="metismenu">
                            <li><a (click)="goToAccueil()"><i class="ti-user"></i>Accueil</a></li>
                            <li><a (click)="goToMyCV()"><i class="ti-user"></i>Mon CV</a></li>
                            <li><a (click)="goToMyProposition()"><i class="ti-user"></i>Tout Mon  Proposition</a></li>
                            <li><a (click)="goToMyProjetencours()"><i class="ti-dashboard"></i>Projet En Cours  </a></li>
                            <li><a (click)="goToMyProjetenAttent()"><i class="ti-dashboard"></i>Projet En Attent   </a></li>
                            <li><a (click)="goToMyProjetRefuser()"><i class="ti-dashboard"></i>Projet En Refuser   </a></li>

                            <li><a (click)="goToMyProfils()"><i class="ti-dashboard"></i>Mon Profils</a></li>

                            <li><a href="#"><i class="ti-power-off"></i>Log Out</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 card">
                        <div class="_dashboard_content_body p-2">
                            <div class="_grouping_list_task" *ngFor="let p of listProjectFreelancer">

                                <!-- Single List -->
                                <div class="_manage_task_list">
                                    <div class="_manage_task_list_flex">
                                        <h4 class="_jb_title">{{p.title}}</h4>
                                        <span class="_elopi_designation">{{p.createdDate | date}}</span>
                                        <p>{{p.description}}</p>
                                        <ul class="jbx_info_list">
                                            <li><span><i class="ti-briefcase"></i>{{p.bedgutType}}</span></li>
                                            <li><span><i class="ti-credit-card"></i>{{p.categorieProjet.nomCat}}</span>
                                            </li>
                                            <li><span><i class="ti-location-pin"></i>{{p.projectSize}}</span></li>
                                            <li><span><i class="ti-timer"></i>10 min ago</span></li>
                                        </ul>

                                        <ul class="_action_grouping_list">
                                            <li><a (click)="goToProject(p.id)" data-toggle="tooltip" data-placement="top" title=""
                                                    class="_edit_list_point" data-original-title="Edit job"><i
                                                        class="fa fa-plus"></i></a></li>
                                           
                                        </ul>
                                    </div>

                                </div>


                            </div>
                            <div class="_grouping_list_task" *ngIf="listProjectFreelancer.length==0">

                               <p>Aucune Projet a postule </p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>





            </div>

        </div>



</section>