<footer class="dark-footer skin-dark-footer">
    <div>
        <div class="container">
            <div class="row">
                
             
                
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="mb-0">© Solixy      All Rights Reserved</p>
                </div>
                
            </div>
        </div>
    </div>
</footer>