<div class="container">
  <h1>Dashboard</h1>

  <div class="stats">
    <div>
      <h3>Nombre de Clients</h3>
      <p>{{ nbrc }}</p>
    </div>
    <div>
      <h3>Nombre de Freelancer</h3>
      <p>{{ nbrf }}</p>
    </div>
    <div>
      <h3>Nombre de Projet Publier</h3>
      <p>{{ nbrpj }}</p>
    </div>
    <div>
      <h3>Nombre de Proposition Accepter</h3>
      <p>{{ nbrp }}</p>
    </div>
  </div>

  <div class="chart-container">
    <h3>Statistiques des Utilisateurs et Services</h3>
    <canvas id="doughnutChart"></canvas>
  </div>
</div>
